.reviews {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 631px;
  height: 340px;
  margin-top: 56px;
}

.reviewsUl {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin: 0;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewTitle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
  width: 172px;
  height: 60px;
}

.circle {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #e44848;
}

.nameRating {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 96px;
  height: 44px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-transform: capitalize;
  margin: 0;
}

.rating {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  width: 96px;
  height: 16px;
}

.review {
  text-align: left;
}

.reviewsText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
