.radioGroup {
  display: flex;
  gap: 10px;
  width: 360px;
}

.radioLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 112px;
  height: 96px;
}

.radioInput {
  display: none;
}

.radioContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  width: 112px;
  height: 96px;
  transition: all 0.3s ease-in-out;
}

.radioIcon {
  width: 32px;
  height: 32px;
  fill: #555;
  transition: all 0.3s ease;
}

.radioText {
  font-size: 14px;
  color: #555;
  display: flex;
  flex-wrap: wrap;
}

.radioInput:checked + .radioContent {
  color: white;
  border-color: #e44848;
}
